<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Defense in depth: the release manifest must never retain the debug-only entry. -->
        <activity
            android:name=".DebugActivity"
            tools:ignore="MissingClass"
            tools:node="remove" />
    </application>
</manifest>
